<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.example.WelcomeDemo</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.smarttraffic.servlet.UserRegistrationServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.smarttraffic.servlet.UserProfileServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
</servlet-mapping>

</web-app>

